@if(catalog && catalogVM) {
  <mat-tab-group (selectedTabChange)="onCatalogTabChanged($event)">
    @for (tab of catalogVM.tabs; track tab.id) {
      <mat-tab [id]="tab.id" [label]="tab.label">
        <div>{{tab.label}}</div>
      </mat-tab>
    }
  </mat-tab-group>

  <app-products-table
    [products]="productsList.currentProductsPage"
    [productType]="catalogVM.activeTab.id" />
  <button mat-button (click)="productsList.previousPage()">Previous page</button>
  <button mat-button (click)="productsList.nextPage()">Next page</button>
}
